.wt-favor {
	padding-left: 14px;
	background: url("img/wt.png") 0 -27px no-repeat;
	font-size: 12px;
}

.wt-suggest {
	padding-left: 14px;
	background: url("img/wt.png") 0 2px no-repeat;
	font-size: 12px;
}

.wt-links .sep {
	width: 1px;
	background: url("img/m.png") -272px -120px no-repeat;
	margin: 0 7px 0 10px;
}

.wt-city {
	margin: 30px 0 0 14px;
	height: 28px;
	position: relative;
	z-index: 100;
	width: 120px;
}

.wt-city .city-current {
	font: bold 14px "ו";
	color: #535353;
	padding: 7px 5px 6px 7px;
	height: 17px;
	white-space: nowrap;
	cursor: pointer;
	background: url("img/m.png") 0 -120px no-repeat;
	float: left;
}

.wt-city .city-current:hover {
	text-decoration: none;
}

.wt-city .downtip {
	background: url("img/m.png") -108px -120px no-repeat;
	width: 24px;
	height: 28px;
	float: left;
	cursor: pointer;
}

.wt-city .uptip {
	background: url("img/m.png") -132px -120px no-repeat;
	width: 24px;
	height: 28px;
	float: left;
	cursor: pointer;
}

.wt-city .city-div {
	position: absolute;
	width: 260px;
	top: 28px;
	border: 1px solid #FC6B52;
	background-color: #fff;
	z-index: 10;
	padding: 10px 0 0 0
}

.wt-city .city-container {
	
}

.wt-city .city-span {
	width: 65px;
	height: 30px;
	float: left;
	text-align: center;
}

.wt-city .city-a {
	font-size: 14px;
}

.wt-city .city-border {
	position: relative;
	height: 31px;
	z-index: 11;
}

.wt-city .city-border-mid {
	border-top: 1px solid #FC6B52;
	height: 31px;
	background-color: #fff;
	float: left;
	padding-top: 2px;
}

.wt-city .city-border-left {
	background: url("img/m.png") -160px -110px no-repeat;
	width: 3px;
	height: 31px;
	float: left;
}

.wt-city .city-border-right {
	background: url("img/m.png") -163px -110px no-repeat;
	width: 3px;
	height: 31px;
	float: left;
}

.wt-tab li {
	float: left;
}


.wt-pagelist {
	font-size: 14px;
	height: 30px;
	padding: 40px 0;
	text-align: center;
}

.wt-pagelist a,.wt-pagelist span {
	display: inline-block;
	background: url("img/m.png") no-repeat;
}

.wt-pagelist .page-a {
	font-size: 14px;
	font-weight: bold;
	height: 22px;
	padding: 8px 0px 7px;
	width: 38px;
	color: #3C477F;
	margin: 0 3px;
	text-align: center;
	background-position: -222px -225px;
}

.wt-pagelist .page-a:hover {
	background-position: -262px -225px;
}

.wt-pagelist .cur-page {
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #7a7a7a;
	padding: 8px 0 7px;
	width: 38px;
	margin: 0 3px;
	background-position: -184px -225px;
}

.wt-pagelist .page_more {
	background: none;
	padding: 8px 0px 7px;
	width: 38px;
	color: #3C477F;
}

.wt-pagelist .prev-page-a {
	width: 71px;
	height: 21px;
	padding: 9px 10px 7px;
	font-weight: bold;
	color: #3C477F;
	background-position: 0 -225px;
	margin-right: 15px;
}

.wt-pagelist .prev-page-a:hover {
	background-position: -92px -225px;
}

.wt-pagelist .prev-page-span {
	width: 71px;
	height: 21px;
	padding: 9px 10px 7px;
	font-weight: bold;
	color: #b4b4b4;
	background-position: 0 -225px;
	margin-right: 15px;
}

.wt-pagelist .next-page-a {
	width: 71px;
	height: 21px;
	padding: 9px 10px 7px;
	font-weight: bold;
	color: #3C477F;
	background-position: 0 -225px;
	margin-left: 15px;
}

.wt-pagelist .next-page-a:hover {
	background-position: -92px -225px;
}

.wt-pagelist .next-page-span {
	width: 71px;
	height: 21px;
	padding: 9px 10px 7px;
	font-weight: bold;
	color: #7a7a7a;
	background-position: 0 -225px;
	margin-left: 15px;
}

.wt-backtop {
	background: url("img/m.png") -187px -107px no-repeat;
	width: 32px;
	height: 75px;
	overflow: hidden;
	position: fixed;
	text-indent: -10em;
	bottom: 20px;
	z-index: 1;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity =     0);
}

.wt-backtop:hover {
	background-position: -223px -107px;
}

* html .wt-backtop {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop +  
		  document.documentElement.clientHeight-100) );
}

* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}