body,p,b,dl,dd,table,td,th,input,img,form,div,ul,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

body {
	_zoom: expression(function(el){document.execCommand('BackgroundImageCache',
		false, true );
	el
	.style.zoom
	=
	"1";
}

(
this




));
font




:




12
px
/1




.5


 


SimSun
,
'
ו




'
}
a {
	text-decoration: none;
	color: #344889;
}

a:hover {
	text-decoration: underline;
}

a img,:link img,:visited img {
	border: none;
}

ol,ul {
	list-style: none;
}

img,iframe {
	border: none;
	text-decoration: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

th,td {
	/* text-align: left;  */
	font-weight: normal;
}

input,textarea,select,button {
	font-size: 100%;
	font-family: inherit;
}

del {
	text-decoration: line-through;
}

em {
	font-style: normal;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.div-960 {
	width: 960px;
	margin: 0 auto;
}

.dashed-line {
	height: 1px;
	border-top: 1px dashed #EAEAEA;
	font-size: 1px;
}

.mask6 {
	opacity: .6;
	-ms-filter: "alpha(opacity=60)";
	filter: alpha(opacity =     60);
	background-color: #000;
}

.gray-line {
	height: 1px;
	font-size: 1px;
	border-top: 1px solid #eee;
	margin: 20px 20px 0;
}