.clearfix {
	zoom: 1;
}

.gwt-TabLayoutPanelTabs {
	height:32px;
    margin: 0;
}

.gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
  	padding: 0 !important;
  	font-weight: bold;
    height: 32px;
    line-height: 30px;
    font-size:16px
}

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelTab {
 	/* background: none repeat scroll 0 0 #FFFFFF !important; */
 	background:url(../images2/nor.jpg) no-repeat !important;
 	width:68px;
 	margin-left: 0px !important;
    padding: 3px 5px !important;
 	color:#4f4f4f;
 	font-weight:bold; 
 	height:32px;
 	line-height:30px; 
    text-align: center;

 }

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	/*background: none repeat scroll 0 0 #DFF3FD !important;*/	
 	padding:0px;
 	background:url(../images2/hover.jpg) no-repeat !important;
 	width:68px;
}

/* .groupbuy-TabLayoutPanel .gwt-TabLayoutPanelContent{
	overflow: hidden;
    padding: 10px;
} */

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
	border-color : #DFF3FD !important;
}

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelContentContainer{
	border : none;
}

.searchResultPanel{
	overflow: auto;
	padding: 20px;
}

#goTopBtn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	/* color:#FFF; */
	background-color: #DFF3FD;
	text-align: center;
	font-size: 12px;
	_position: absolute;
	_right: auto;
	_left: expression(eval(document.documentElement.scrollLeft +
		document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0
		)-(parseInt(this.currentStyle.marginRight, 20)||0 ) );
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0 )-(parseInt(this.currentStyle.marginBottom, 20)||0 ) ) );
}
.searchSubmit {
    -moz-transition: none 0s ease 0s;
    background: url("img/bg-button.png") repeat-x scroll left top transparent;
    border: 1px solid #8EB000;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 white;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font: bold 14px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* padding: 0 12px; */
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    
    float: right;

    height: 25px  !important;
    width: 80px !important;
}

.nav-box{
	width : 180px;
	margin : 0px;
	border: 1px solid #DFF3FD;
	/* box-shadow: 0 0 4px rgba(71, 143, 179, 0.5); */
}

.nav-header{
	width :180px;
	text-indent: 45px; 
	color: #909090;
	padding: 0px 5px;
	font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 35px;
 	background: url(../images2/jia.jpg) no-repeat scroll center center transparent;

 }

.nav-content{
	width : 180px;
}

.navigationPanel{
	width:200px !important;
	float : left;
	overflow: hidden;
	padding: 0;
}

.categoryCol {
	padding: 0px 5px !important;
	background: url("../images2/arrow.jpg") no-repeat scroll 5px 12px transparent !important;
    border-bottom: 1px solid #DFDFDF;
    color: #909090;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 36px !important;
    border: 0px  !important;
}

.priceCol{
    border-bottom: 1px solid #DFDFDF;
    color: #909090;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 5px;
    padding: 0px 2px !important;
    border: 0px  !important;
}

/* workround for CellTable*/
.navigationPanel table tr:hover { 
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px transparent
}

 /* .navigationPanel .GNERLPIDKD {
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px
		transparent
}

.navigationPanel .GNERLPIDPC {
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px
		transparent
}  */

.categroyBox, .priceBox, .myGroupBox {
	
}

.categroyBox{
/* 	float:left;clear:both; */
}

.myGroupBox{
/*  	float:left;clear:both;*/
}

.priceBox{
	top:360px !important;
}

.head {
	position: relative;
}

a img {
	border: none
}

.weibotxt {
	float: left;
	display: inline;
	margin-top: 2px;
	margin-left: 5px;
}

.weiboicon {
	float: left;
	display: inline;
	margin-top: 2px;
	margin-left: 5px;
}

.weibotxt a, a:visited, a:hover {
    color: #666666;
}

.city {
	position: absolute;
	bottom: 30px;
	left: 300px;
	float: left;
}

.cityfix {
	position: absolute;
	bottom: 30px;
	left: 350px;
	float: left;
	font-size: 1.2em;
	height: 30px;
	line-height: 28px;
	padding: 0 35px 0 5px;
}

.share {
	float: right;
	display: inline;
	margin-top: 0px;
	margin-right: 50px;
}

.guides {
	left: 400px;
	top: 73px;
	position: absolute;
	overflow: visible;
}

.logo {
	margin-left: 10px;
	width: 250px;
	height: 60px;
	background-image: url('../images/logo3.jpg');
	background-repeat: no-repeat;
	display: block;
	text-indent: -99999px;
	position: absolute;
	bottom: 30px;
}

.search {
	float: right;
	position: absolute;
	bottom: 30px;
	left: 500px;
}

.input {
	border: 1px solid #006;
	width: 370px;
	height: 20px;
	float: left;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	padding-top: 5px;
	text-align:center;
	padding-left: 15px
}

.footer a {
	color: #666666;
	text-decoration: none;
}

.footera, a:visited, a:hover {
    color: #666666;
	height:20px;
}