.clearfix {
	zoom: 1;
}

.gwt-TabLayoutPanelTabs {
	height:32px;
    margin: 0;
}

.gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
  	padding: 0 !important;
  	font-weight: bold;
    height: 32px;
    line-height: 30px;
    font-size:16px
}

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelTab {
 	/* background: none repeat scroll 0 0 #FFFFFF !important; */
 	background:url(../images2/nor.jpg) no-repeat !important;
 	width:68px;
 	margin-left: 0px !important;
    padding: 3px 5px !important;
 	color:#4f4f4f;
 	font-weight:bold; 
 	height:32px;
 	line-height:30px; 
    text-align: center;

 }

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	/*background: none repeat scroll 0 0 #DFF3FD !important;*/	
 	padding:0px;
 	background:url(../images2/hover.jpg) no-repeat !important;
 	width:68px;
}

/* .groupbuy-TabLayoutPanel .gwt-TabLayoutPanelContent{
	overflow: hidden;
    padding: 10px;
} */

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
	border-color : #DFF3FD !important;
}

.groupbuy-TabLayoutPanel .gwt-TabLayoutPanelContentContainer{
	border : none;
}

.searchResultPanel{
	overflow: auto;
	padding: 20px;
}

#goTopBtn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	/* color:#FFF; */
	background-color: #DFF3FD;
	text-align: center;
	font-size: 12px;
	_position: absolute;
	_right: auto;
	_left: expression(eval(document.documentElement.scrollLeft +
		document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0
		)-(parseInt(this.currentStyle.marginRight, 20)||0 ) );
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0 )-(parseInt(this.currentStyle.marginBottom, 20)||0 ) ) );
}
.searchSubmit {
   /*  -moz-transition: none 0s ease 0s;
    background: url("img/bg-button.png") repeat-x scroll left top transparent;
    border: 1px solid #8EB000;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 white;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font: bold 14px/23px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    
    float: right;

    height: 25px  !important;
    width: 80px !important; */
     background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    line-height: 26px;
    width: 50px;
    text-align: center;
}
/* input, select, button ,a {
    font: 12px Verdana,Arial,Tahoma;
} */
.nav-box{
	width : 180px;
	margin : 0px;
	border: 1px solid #DFF3FD;
	/* box-shadow: 0 0 4px rgba(71, 143, 179, 0.5); */
}
.num {
    background: url("../images/num.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 31px;
    line-height: 28px;
    text-align: center;
    width: 31px;
}
.nav-header{
	width :180px;
	text-indent: 45px; 
	color: #909090;
	padding: 0px 5px;
	font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 35px;
 	background: url(../images2/jia.jpg) no-repeat scroll center center transparent;

 }
.forms{
	height: 30px;
    margin: 0 auto;
    padding-top: 5px;
    width: 465px;
}
.nav-content{
	width : 180px;
}

.navigationPanel{
	width:200px !important;
	float : left;
	overflow: hidden;
	padding: 0;
}

.categoryCol {
	padding: 0px 5px !important;
	background: url("../images2/arrow.jpg") no-repeat scroll 5px 12px transparent !important;
    border-bottom: 1px solid #DFDFDF;
    color: #909090;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 36px !important;
    border: 0px  !important;
}

.priceCol{
    border-bottom: 1px solid #DFDFDF;
    color: #909090;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 5px;
    padding: 0px 2px !important;
    border: 0px  !important;
}

/* workround for CellTable*/
.navigationPanel table tr:hover { 
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px transparent
}

 /* .navigationPanel .GNERLPIDKD {
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px
		transparent
}

.navigationPanel .GNERLPIDPC {
	background: url("../images2/org_bg.jpg") no-repeat scroll 0 3px
		transparent
}  */

.categroyBox, .priceBox, .myGroupBox {
	
}

.categroyBox{
/* 	float:left;clear:both; */
}

.myGroupBox{
/*  	float:left;clear:both;*/
}

.priceBox{
	top:360px !important;
}

.head {
	position: relative;
}

a img {
	border: none
}

.weibotxt {
	float: left;
	display: inline;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 2px;
	vertical-align: top;
}

.weiboicon {
	float: left;
	display: inline;
	margin-top: 2px;
	margin-left: 5px;
}

.weibotxt a,.weibotxt a:visited, .weibotxt a:hover {
    color: #FFFFFF;
    vertical-align: top;
}

.city {
	/* position: absolute;
	bottom: 30px;
	left: 300px;
	float: left; */
}
a:hover{
	color:#333;
	text-decoration:underline;
}
.header a,.weibotxt a{
	 color: #FFFFFF;
}

.cityfix {
	/* position: absolute;
	bottom: 30px;
	left: 350px; 
	float: left;*/
	font: 13px Verdana,Arial,Tahoma;
    vertical-align: middle;
	font-size: 1.2em;
	line-height: 28px;
	padding: 0 35px 0 5px;
	
}
.cityfix a,.cityfix a:HOVER,.cityfix a:VISITED{
	color: #FFFFFF;
}
.cityfix a:hover{
	color: #FAE003;
}
.share {
	float: right;
	display: inline;
	margin-top: 0px;
	margin-right: 50px;
}

.guides {
	left: 400px;
	top: 73px;
	position: absolute;
	overflow: visible;
}

.logo {
	background-image: url('../images/logo4.jpg');
	background-repeat: no-repeat;
	display: block;
    float: left;
    height: 43px;
    width: 186px
}

.search {
	background: url("../images/src.jpg") no-repeat scroll 0 0 transparent;
    height: 36px;
    margin: 0 auto;
    width: 515px;
}
.top_lan_text {
    border-bottom: 1px solid #DDDDDD;
    height: 24px;
    margin: 0 auto;
    width: 98%;
}
.input {
	/* border: 1px solid #006;
	width: 370px;
	height: 20px;
	float: left; */
	 background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 25px;
    line-height: 26px;
    width: 410px;
    float:left;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	padding-top: 5px;
	text-align:center;
	padding-left: 15px
}

.footer a {
	color: #666666;
	text-decoration: none;
}

.footera {
    color: #666666;
	height:20px;
}

.clear{
	clear:both;
}

.header{
	color: #FFFFFF;
    margin: 0 auto;
    padding-top: 28px;
    width: 99%;
}
.currCityLabel{
	color: #FAE003;	
}

.cityfix .currCityLabel{
	color: #FAE003;
	font-weight: bold;
}

.guanzhu1 {
    background: url("../images/top_img_03.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 17px;
    width: 16px;
}
.guanzhu2 {
    background: url("../images/top_img_03.gif") no-repeat scroll 0 -17px transparent;
    display: block;
    float: left;
    height: 17px;
    width: 16px;
}
.guanzhu3 {
    background: url("../images/top_img_03.gif") no-repeat scroll 0 -34px transparent;
    display: block;
    float: left;
    height: 17px;
    width: 16px;
}
.kong{ height:10px; clear:both; width:100%; overflow:hidden;}
.skong{height:5px; clear:both; width:100%; overflow:hidden;}
.clear {
    clear: both;
}
.bg_swf{ border:solid 1px #2BA6D2;   }
.bg_swf h1{ background:url(../images/ChartBar.png) no-repeat; padding-left:45px; font-size:14px; font-weight:bold; color:#777; height:32px; margin:10px; line-height:35px;}
.swf_box{ width:930px; margin:0 auto;}
.swf_text{ width:95%; margin:0 auto;}
.swf_text h2{ color:#333; font-size:12px; font-weight:bold; height:25px;}
.bg_swf h2{   padding-left:45px; font-size:14px; font-weight:bold; color:#777; height:32px; margin:10px; line-height:35px;}
.swf_text li{ line-height:25px; width:300px; float:left; color:#777; }
.swf_text li a{ color:#777;}
.list_text{ width:95%; margin:0 auto; line-height:26px; color:#777;}
