body {
    background: url("/images/new_web_img/back_newbj.png") no-repeat scroll 0 0 #D2EEFA;
    font-family: 'helvetica neue',helvetica,arial,'sans-serif';
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    outline: medium none;
    padding: 0;
}
fieldset, img {
    border: medium none;
    padding: 0;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
input.labelbox {
    border: 0 none;
}
a:link {
    color: #0082CB;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
.header {
    background: url("/images/new_web_img/zhu_back.jpg") no-repeat scroll center 0 transparent;
}
.header {
    height: 84px;
    margin: 0 auto 0;
    position: relative;
    width: 806px;
    z-index: 101;
}
.header .linklogo {
    bottom: 0;
    display: block;
    height: 82px;
    left: 0;
    position: absolute;
    width: 140px;
}
.head_menu {
    bottom: 10px;
    margin: 41px 0 0;
    position: absolute;
    right: 0;
    width: 460px;
}
#profileHead, .MIB_blogb {
    height: auto;
}
.MIB_blogb {
    background-position: center 0;
    background-repeat: no-repeat;
    clear: both;
    padding-bottom: 10px;
}
.tsina_gnbarea {
    float: right;
    height: 85px;
    line-height: normal;
    margin-top: 25px;
    width: 600px;
}
.tsina_gnb {
    float: right;
    margin: 0 auto;
    position: relative;
    top: 7px;
    width: 460px;
}
.tsina_gnb ul.gnb_l {
    float: left;
    margin: 0 0 0 -12px;
}
.tsina_gnb ul li {
    float: left;
    margin-left: 16px;
    margin-top: 6px;
    position: relative;
    vertical-align: top;
}
.tsina_gnb ul li a {
    float: left;
    margin: -2px -5px -2px -6px;
    padding: 2px 5px 2px 6px;
    vertical-align: baseline;
}
.tsina_gnb ul li.line {
    margin: 5px -4px 0 8px;
}
.tsina_gnb li.line {
    color: #FFFFFF;
}
.tsina_gnbarea * {
    border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.tsina_gnb ul li, .tsina_gnb ul li a, .tsina_gnb ul li a:link, .tsina_gnb ul li a:hover, .tsina_gnb ul li a:visited, .tsina_gnb ul li em.nmTxt {
    color: #FFFFFF;
}
.tsina_gnb ul li, .tsina_gnb ul li a, .tsina_gnb ul li a:link, .tsina_gnb ul li a:hover, .tsina_gnb ul li a:visited, .tsina_gnb ul li em.nmTxt {
    color: #FFFFFF;
}
.tsina_gnb ul li a {
    float: left;
    margin: -2px -5px -2px -6px;
    padding: 2px 5px 2px 6px;
    vertical-align: baseline;
}
.tsina_gnb ul li, .tsina_gnb ul li a, .tsina_gnb ul li a:link, .tsina_gnb ul li a:hover, .tsina_gnb ul li a:visited, .tsina_gnb ul li em.nmTxt {
    color: #FFFFFF;
}
.tsina_gnb a, .tsina_gnb a:link, .tsina_gnb a:active, .tsina_gnb a:visited {
    color: #399FD6;
    text-decoration: none;
}
.menu_c {
    float: right;
    margin-top: 35px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 9px;
    width: 462px;
}
.bg_menu_c {
    background-color: #59B0D9;
    float: right;
    height: 33px;
    position: absolute;
    right: 0;
    top: 72px;
    width: 462px;
}
.menu_c ul {
    color: #FFFFFF;
    height: 33px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
    width: 460px;
}
.menu_c li {
    float: left;
    font-size: 14px;
    padding-top: 10px;
}
.menu_c li.line {
    color: #9CDAE9;
}
.menu_c li.line {
    color: #9CDAE9;
    margin: -2px 10px 0;
    width: 2px;
}
.menu_c li {
    float: left;
    font-size: 14px;
    margin-left: 5px;
    padding-left: 3px;
    padding-top: 10px;
}
.menu_c li.cur, .head_menu .menu_c li.cur a, .head_menu .menu_c li.cur a:link, .head_menu .menu_c li.cur a:visited {
    color: #FFFFFF;
}
.menu_c li.cur, .head_menu .menu_c li.cur a, .head_menu .menu_c li.cur a:link, .head_menu .menu_c li.cur a:visited {
    color: #FFFFFF;
    font-weight: bold;
}
.menu_c li.cur, .head_menu .menu_c li.cur a, .head_menu .menu_c li.cur a:link, .head_menu .menu_c li.cur a:visited {
    color: #FFFFFF;
}
.menu_c li.cur, .head_menu .menu_c li.cur a, .head_menu .menu_c li.cur a:link, .head_menu .menu_c li.cur a:visited {
    color: #FFFFFF;
    font-weight: bold;
}
.menu_c .search {
    background: url("none") repeat scroll 0 0 #63C0D6;
}
.search {
    background: none repeat scroll 0 0 #63C0D6;
    height: 21px;
    margin-top: 5px;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
}
.search input {
    background: none repeat scroll 0 0 #FFFFFF;
}
.search input {
    border: medium none;
    color: #999999;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: normal;
    margin: 0 1px 0 0;
    padding: 2px 4px 1px;
    vertical-align: top;
    width: 129px;
}
.menu_c .submit {
    border: 1px solid #63C0D6;
    color: #0099CC;
    font-size: 12px;
    margin: -1px;
}
.menu_r {
    background: none repeat scroll 0 0 #B0D7DF;
    opacity: 0.6;
}
.menu_r {
    background-color: #75CEE3;
    float: left;
    height: 31px;
    margin-top: 1px;
    overflow: hidden;
    width: 1px;
}
.submit {
    border: 1px solid #63C0D6;
    color: #0099CC;
    margin: -1px;
}
.submit {
    background: url("/images/new_web_img/fragmentbg.png") repeat scroll 0 -183px transparent;
    float: left;
    height: 21px;
    line-height: 21px;
    text-align: center;
    width: 51px;
}
.blogbody {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    position: relative;
    top: -5px;
    width: 806px;
    z-index: 1;
}
.blogbody .mblogbgr {
    background: url("/images/new_web_img/bg.gif") repeat-y scroll -800px 0 transparent;
}
.mblogbox {
    height: 200px;
    width: 600px;
}
.mblogbox .postWrap {
    clear: both;
    height: 200px;
    position: relative;
    width: 600px;
}
.colPngBg, .blogbody .mblogbgl, a.cmn_nav_tag, .cmn_nav_con {
    background: url("/images/new_web_img/bg.gif") repeat-y scroll 0 0 transparent;
}
.colPngBg, .blogbody .mblogbgl {
    background: none repeat-y scroll -2px 0 transparent;
    display: block;
}
.MIB_blogbody .MIB_200 {
    overflow: hidden;
    width: 200px;
    word-wrap: break-word;
}
.userinfo {
    background: url("/images/new_web_img/bakc_news.png") repeat scroll 0 0 transparent;
    overflow: hidden;
}
.userinfo .user_head {
    float: right;
    margin: 0 0 18px 5px;
    overflow: auto;
    width: 223px;
}
.userinfo .user_head {
    margin: 0 0 18px 15px;
    overflow: auto;
}
.zhu_ringt {
    background: none repeat scroll 0 0 #EDF8FD;
    float: right;
    height: 100%;
    width: 200px;
}
.pic {
    float: left;
    overflow: visible;
}
.pic img {
    border: 1px solid #CCCCCC;
    height: 50px;
    padding: 1px;
    width: 50px;
}
.text-content {
    line-height: 24px;
    padding-left: 8px;
}
.font_17 {
    color: #359DD7;
    font-weight: bold;
}
.place {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
}
.user_atten {
    color: #0082CB;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
}
.wI_info {
    color: #666666;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3px;
    padding-top: 8px;
    width: 200px;
    word-wrap: break-word;
}
.use {
    clear: both;
    float: left;
    height: inherit;
    margin-left: 4px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    word-wrap: break-word;
}
.use_01 {
    clear: both;
    float: left;
    height: auto;
    margin-left: 4px;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    word-wrap: break-word;
}
#att_topic {
    height: 116px;
    padding-left: 8px;
    padding-top: 15px;
    z-index: 4;
}
.guannew {
    color: #5B5B5B;
    font-size: 14px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 0;
}
.hot_img {
    border: 0 none;
}
.txt_right {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 8px;
    padding-right: 12px;
    text-align: right;
}
.hot_contenting {
    padding: 10px;
}
.con_var {
    padding-top: 5px;
    width: 200px;
}
.f_pro {
    clear: both;
    margin-left: 10px;
    padding-top: 10px;
    width: 95%;
    z-index: 3;
}
.f_pro .title {
    color: #5B5B5B;
    margin: 0 0 4px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 0;
}
.font_14 {
    font-size: 14px;
}
.f_pro ul.conlist, .conlist {
    padding: 0 0 0 5px;
}
.MIB_txtbr {
    color: #999999;
}
.f_pro ul.conlist, .conlist {
    padding: 0 0 0 5px;
}
.MIB_txtbr {
    color: #999999;
}
.f_pro ul.conlist, .conlist {
    padding: 0 0 0 5px;
}
.MIB_txtbr {
    color: #999999;
}
.f_pro ul.conlist, .conlist {
    display: inline;
    font-size: 12px;
    padding: 0 0 0 5px;
}
.MIB_txtbr {
    color: #999999;
}
.f_pro ul.conlist li {
    line-height: 21px;
    width: 180px;
}
.f_pro ul.conlist li em {
    font-family: Arial;
    font-size: 10px;
    padding-left: 3px;
}
.reason-box {
    clear: both;
    height: auto !important;
    min-height: 50px;
    padding: 0 10px 10px;
    width: 230px;
}
.MIB_blogbody .MIB_600 {
    overflow: hidden;
    width: 600px;
    word-wrap: break-word;
}
.MIB_blogbody .mainL {
    float: left;
    padding-bottom: 30px;
}
.MIB_mbloghead {
    float: left;
    height: auto;
    padding-bottom: 10px;
    width: 580px;
}
.MIB_mblogbox {
    height: 158px;
    width: 580px;
}
.MIB_mblogbox .postWrap {
    clear: both;
    display: inline;
    height: 200px;
    position: relative;
    width: 580px;
}
.MIB_mblogbox .pngBg {
    background: url("/images/new_web_img/shuru_knew.jpg") no-repeat scroll 0 0 transparent;
}
.MIB_mblogbox .pngBg {
    background-repeat: no-repeat;
    height: 158px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 595px;
}
.input_arrive {
    border: medium none;
    height: 50px;
    left: 22px;
    overflow-y: auto;
    position: relative;
    top: 95px;
    width: 446px;
}
.sou {
    color: #327204;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    left: 500px;
    position: relative;
    top: 62px;
    width: 50px;
}
.nei_k {
    height: auto;
    width: 575px;
}
.nei_tiao {
    background-color: #0CBADF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 3px;
}
.dajia {
    height: auto;
    margin: 0 auto;
    width: 536px;
}
.nfBox .left {
    float: left;
    font-size: 12px;
}
.ti {
    color: #535353;
    float: left;
    font-size: 14px;
    padding: 10px 5px 5px 8px;
    width: 180px;
}
.zhu_rightnew {
    clear: right;
    float: right;
    height: auto;
    margin-bottom: 5px;
    padding-left: 8px;
    position: relative;
    width: 207px;
}
.back {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 8px;
    width: 575px;
}
.wording {
    height: 260px;
    overflow: hidden;
    padding: 15px 0 15px 8px;
    position: relative;
    width: 535px;
}
.pic {
    float: left;
    padding: 3px 0;
    width: 62px;
}
.pic img {
    border: 1px solid #D2D2D2;
    height: 50px;
    padding: 1px;
    width: 50px;
}
a {
    color: #2B4A78;
    text-decoration: none;
}
.info {
    color: #999999;
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
    vertical-align: top;
    width: 179px;
}
h3 {
    background: none repeat scroll 0 0 transparent;
    font-size: 14px;
    height: auto;
    margin: 0;
}
.info p {
    color: #666666;
    margin: 0;
}
.sub-item {
    border-bottom: 1px dashed #AAAAAA;
    float: left;
    height: 72px;
    margin: 0 2px 15px 0;
    overflow: hidden;
    width: 49%;
}
.newMblog_ts1 {
    background: url("/images/new_web_img/new_index_bg.png") no-repeat scroll -40px -604px transparent;
    clear: both;
    color: #BB861C;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: right;
}
.newMblog_ts1:link, .newMblog_ts1:visited {
    color: #BB861C;
}
.num {
    font-family: Arial;
    font-size: 18px;
}
.line_r {
    border-right: 1px solid #C5CFD4;
    float: left;
    padding-right: 8px;
    text-align: right;
    width: 45px;
}
.sofaWap {
    padding: 10px 0 0;
}
.sofaWap dd {
    margin: 0 0 0;
}
.wap {
    background: url("/images/new_web_img/down_back.png") no-repeat scroll 0 0 transparent;
    height: 117px;
}
.sofaWap .sofa, .sofaWap .wap, .sofaWap .pinless {
    cursor: pointer;
    display: block;
    margin: auto;
    overflow: hidden;
    width: 179px;
}
.txele {
    float: right;
    font-size: 14px;
    height: 100%;
    padding-bottom: 0;
    position: relative;
}
.neirong {
    color: #666666;
    line-height: 20px;
    padding: 5px;
}
.font15 {
    color: #FF0000;
    font-size: 14px;
}
.current {
    background: url("/images/new_web_img/iocn_03.gif") no-repeat scroll 0 0 transparent;
    height: 31px;
    text-align: center;
    text-decoration: none;
    width: 102px;
}
.current, .current:link, .current:visited {
    color: #0CBADF;
    height: 31px;
    width: 100px;
}
.current, .current:link, .current:visited {
    color: #0097D6;
}
.left a {
    color: #FFFFFF;
    display: inline-block;
    height: 31px;
    line-height: 34px;
    margin-right: 1px;
    text-align: center;
    width: 102px;
}
.footer {
    background-color: #E7F4FA;
    clip: rect(0px, auto, 0px, auto);
    color: #353535;
    height: 89px;
    margin: 10px auto;
    text-align: center;
    width: 808px;
}
.pngBgnew {
    background: url("/images/new_web_img/back_new.jpg") no-repeat scroll 0 top #FFFFFF;
    height: 210px;
    overflow: visible;
    padding-top: 75px;
    position: absolute;
    width: 595px;
}
.back_geren {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 8px;
    width: 575px;
}
.wI_infonew {
    color: #666666;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 10px auto 15px;
    padding-left: 3px;
    padding-top: 8px;
    width: 200px;
    word-wrap: break-word;
}
.list {
    clear: both;
    display: block;
    height: 65px;
    width: 100%;
}
.list ul {
    display: inline;
    overflow: visible;
    width: 200px;
}
.list li {
    float: left;
    height: 80px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 5px;
    width: 55px;
}
.list ul li .pic_img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 50px;
    overflow: hidden;
    padding: 2px;
    width: 50px;
}
.list ul li .txt {
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    width: 55px;
}
#profileHeadBg {
    background-repeat: repeat-x;
    font-size: 12px;
    height: 200px;
    padding: 20px 20px 0;
    width: 542px;
}
.mainL .mbloglist {
    clear: both;
}
.mbloglist .other_headpic {
    float: left;
}
.mbloglist .other_headpic img {
    border: 1px solid #828A96;
    height: 178px;
    width: 178px;
}
.mbloglist .other_info {
    float: right;
    margin-left: 15px;
    width: 340px;
}
.mbloglist .other_info .name {
    font-family: "ºÚÌå";
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.lf {
    float: left;
}
.mbloglist .other_info .aboutwho {
    font-family: "ËÎÌå";
    font-size: 12px;
    line-height: 14px;
}
.rt {
    float: right;
}
.mbloglist .other_info .ad {
    margin: 10px 0 7px;
}
.txtbl, .atMeBox a em.arrow {
    color: #707070;
}
.mbloglist .other_info p {
    line-height: 1.5em;
    overflow: hidden;
    padding-top: 25px;
    width: 355px;
    word-wrap: break-word;
}
.ge_souinput {
    background: url("/images/new_web_img/geren_sou.jpg") no-repeat scroll 0 0 transparent;
    height: 63px;
    margin-left: 15px;
    width: 564px;
}
.ge_souinputnew {
    background: url("/images/new_web_img/geren_sou.jpg") no-repeat scroll 0 0 transparent;
    height: 63px;
    width: 564px;
}
.ge_inpu {
    border: medium none;
    height: 50px;
    left: 8px;
    overflow-y: auto;
    position: relative;
    top: 5px;
    width: 400px;
}
.ge_sou {
    color: #327204;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    left: 490px;
    position: relative;
    top: -30px;
    width: 50px;
}
.guan {
    clear: both;
    display: block;
    height: 65px;
    width: 100%;
}
.guan ul {
    display: inline;
    overflow: visible;
    width: 200px;
}
.guan li {
    float: left;
    height: 36px;
    margin: 3px 3px 3px 5px;
    width: 36px;
}
.guan ul li .guanpic_img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 36px;
    overflow: hidden;
    padding: 1px;
    width: 36px;
}
.guan ul li .guantxt {
    float: left;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
}
.concern {
    background: url("/images/new_web_img/jiaguan_bj.gif") repeat scroll 0 0 transparent;
    height: 25px;
    line-height: 23px;
    margin-top: 35px;
    width: 155px;
}
.header .newlogo {
    background: url("/images/new_web_img/logonew.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    height: 82px;
    left: -1px;
    min-width: 140px;
    overflow: visible;
    position: absolute;
    top: 32px;
}
.concern {
    background: url("/images/new_web_img/jiaguan_bj.gif") repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 25px;
    line-height: 23px;
    margin-top: 15px;
    width: 155px;
}
