@charset "utf-8";

* {
font-family: "宋体";
font-size: 13px;
margin: 0;
padding: 0;
}

#box .box_title{ width:100%;background-image:url(./images/contact/box_title_c.png); background-repeat:repeat-x; display:block}
#box .box_title_l{ background-image:url(./images/contact/box_title_l.png); background-repeat:no-repeat; width:150px; height:29px; display:block}
#box .box_title_l_l { background-image:url(./images/contact/box_title_l_l.png); background-repeat:no-repeat; width:4px; height:29px; display:block}
#box .box_title_l_c { background-image:url(./images/contact/box_title_l_c.png); width:auto; height:29px; display:block}
#box .box_title_l_c p{ margin-left:11px; margin-top:6px; vertical-align:bottom; font-size:13px; font-weight:bold; }
#box .box_title_l_r { background-image:url(./images/contact/box_title_l_r.png); background-repeat:no-repeat; width:28px; height:29px; display:block}
#box .box_title_c{ float:right; }
.box_title_c p{ line-height:29px; margin-right:4px}
#box .box_title_l p{ margin-left:15px; margin-top:6px; vertical-align:bottom; font-size:13px; font-weight:bold;text-align: left;}
#box .box_title_r{ background-image:url(./images/contact/box_title_r.png); width:6px; height:29px;float:right;  }
.box_content{ border-left:solid 1px #dedede; border-right:solid 1px #dedede; border-bottom:solid 1px #dedede;}

#box .box_bottom{ width:100%;background-image:url(./images/contact/box_bottom_c.png); background-repeat:repeat-x; display:block; overflow:hidden; height:6px}
#box_bottom .box_bottom_l{ background-image:url(./images/contact/box_bottom_l.png); width:5px; height:6px;overflow:hidden}
#box_bottom .box_bottom_r{ background-image:url(./images/contact/box_bottom_r.png); width:5px; height:6px; float:right;overflow:hidden}

a{ cursor:pointer}
#about{ margin-top:12px; width:755px}
#about div{float: left;display:inherit;}
#about #box_content{ width:753px; padding-bottom:30px; overflow:hidden}
#about #box_content p{ text-indent:2em; color:#5c5c5c; width:700px; margin-left:30px; margin-top:20px;text-align:left;}