<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<icon></icon>
	<display-name></display-name>

	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>com.orange.groupbuy.web.server.SimpleDispatchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/groupbuy_web_ui/dispatch</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>com.orange.groupbuy.web.server.SearchGroupBuyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>*.proxy</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GroupBuy_Web_UI.html</welcome-file>
	</welcome-file-list>
</web-app>
